@import url('https://fonts.googleapis.com/css?family=Quicksand');
html, body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}
body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 7fr 1fr;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
header {
  grid-row: 1;
  grid-column: 2 / 4;
  text-align: center;
  font-size: 12pt;
}
header h1 {
  /* margin: .4em; */
}
footer {
  grid-row: 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5em;
}
footer :first-child {
  grid-column: 1;
  text-align: left;
}
footer :last-child {
  grid-column: 2;
  text-align: right;
}
#main-screen {
  padding-bottom: 8em;
}